@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(230, 230, 230)
}

h1{
    color: #336699;
}

div{
    
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230, 0.2);
    border-radius: 20%;
    padding: 4.5%;
    text-align: center;
}

p{
    color: #3f3f3f;
    font-size: 50px;
    margin: 10px auto 0px auto;
}

button{
    border: none;
    margin: 0px 5px 0 5px;
    border-radius: 1rem;
}

.dicrease-button,
.increase-button{
    margin-top: 20px;
}

.dicrease-button{
    color: #FFF;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid #FF6666;
    background-color: #FF6666;
    width: 7rem;
    height: 2rem;
    padding: 0 1rem;
}

.dicrease-button:hover{
    color: #d6d6d6;
    border: 1px solid #fe8181;
    background-color: #fe8181;
}

.increase-button{
    color: #FFF;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid #336699;
    background-color: #336699;
    width: 7rem;
    height: 2rem;
    padding: 0 1rem;
}

.increase-button:hover{
    color: #d6d6d6;
    border: 1px solid #3f75ac;
    background-color: #3f75ac;
}

.zerar-button{
    color: #FFF;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid #9654bc;
    background-color: #9654bc; 
    width: 7rem;
    height: 2rem;
    padding: 0 1rem;
}

.zerar-button:hover{
    color: #d6d6d6;
    border: 1px solid #8e44b9;
    background-color: #8e44b9;
}

.developed-by{
    font-size: 20px;
    color: #336699;
}

.developed-by a{
    text-decoration: none;
    color: #FF6666;
}